greenlet==0.4.15
oauthlib==3.0.1
paho-mqtt==1.4.0
tzlocal==1.5.1
redis==3.2.0
requests==2.21.0
requests-oauthlib==1.2.0
whitenoise==4.1.2
openpyxl==2.6.1
sphinx
sphinx-rtd-theme
recommonmark
fvcore
torch
pytorch_transformers
jsonlines
pycocotools
torchvision
pycocoevalcap
omegaconf
cloudpickle
json_lines